{% extends "base.html" %}
{% set page = "schedule" %}
{% block title %}Setup your schedule{% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-2 picturebar" id="picturebar">
		{% for picture in library %}
		<img class="picture img-polaroid" src="{{picture.full_size_image}}" width="160" data-key="{{picture.key()}}" data-type="picture">
		{% endfor %}
	</div>
	<div class="col-md-10 schedule" id="schedule" data-schedule="{{schedule.key()}}">
		{% for placement in schedule.pictures %}
			<img class="picture img-polaroid" src="{{placement.picture.full_size_image}}" width="160" data-key="{{placement.key()}}" data-type="placement">
		{% endfor %}
	</div>
</div>
{% endblock %}
