<html>
<head>
	<title>iPad Test</title>
	<link rel="stylesheet" href="/static/css/html5reset.css">
	<link rel="stylesheet" href="/static/css/styling.css">
</head>
<body data-schedule={{schedule.key()}}>
	<div id="container">
		<div class="schedule">
			{% for placement in schedule.pictures %}
				<img class="picture" src="{{placement.picture.full_size_image}}" width="160" data-key="{{placement.key()}}" data-type="placement" style="left: {{placement.position.0}}px; top: {{placement.position.1}}px">
			{% endfor %}
		</div>
	</div>
</body>
