{% extends "base.html" %}
{% block title %}Your Schedule{% endblock %}
{% block menu %}{% endblock %}
{% block scripts %}{% endblock %}
{% block body %}
<div class="schedule" id="schedule" data-schedule="{{schedule.key()}}">
	{% for placement in schedule.pictures %}
		<img class="picture" src="{{placement.picture.full_size_image}}" width="160" data-key="{{placement.key()}}" data-type="placement" style="left: {{placement.position.0}}px; top: {{placement.position.1}}px">
	{% endfor %}
</div>
{% endblock %}
